<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <h1>Submit an issue!</h1>
            <p>I do try, but <i>sometimes</i> I do get it wrong...</p>
        </div>
    </div>
</div>