<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    <h1>Select an iteration</h1>
		    <table class="table">
		    	<thead>
		    		<th>Iteration Number</th>
		    		<th>Drop Number</th>
		    	</thead>
		    	<tbody>
		    	<% @iteration.each do |iteration| %>
		    		<td><%= iteration.iteration_number  %></td>
		    		<td><%= iteration.drop_number %></td>
		    		<td><%= link_to "Add to this iteration", submit_interaction_iteration_path(iteration), class: "btn btn-primary" %> </td>
		    	</tbody>
		    	
		    	 <% end %>
		   	</table>
		    </div>
		 </div>
     </div>