<% if Iteration.all.empty? %> 
<p>No iterations exist</p>
<% else %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		  <h1><%= "Release notes for Iteration #{@iteration.iteration_number}, Drop #{@iteration.drop_number}"%></h1>
		  <% @interaction.order(:line_id) %>
		  	<div class="table-responsive">
		  		<table class="table">
		  			<thead>
		  				<% @interaction.each do |interaction| %>
		  				<% line = @line.find(interaction.line_id) %>
		  				<% scrum_master = @user.where(:line_id => interaction.line_id, :role => 'Scrum Master').first.first_name + ' ' + @user.where(:line_id => interaction.line_id, :role => 'Scrum Master').first.last_name %>
		  				<tr>
		  					<th><%= line.line_name + '---' +  line.line_work + '---' + "Scrum Master: #{scrum_master}" %></th>
		  				</tr>
		  				<% end %>
		  			</thead>
		  		</table>
			</div>
		</div>
	</div>
</div>
<% end %>
<!-- 
array = [1, 2, 3]

array.each do |array|
  puts array
  shishka = [4, 5, 6]
    shishka.each do |shishka|
      puts shishka
    end
  end 


Results:   
1
4
5
6
2
4
5
6
3
4
5
6

-->